/* Components
------------------------------------------------------------*/
.c-heading {
  display: flex;
  align-items: center;
  gap: 10.5px;

  span {
    display: block;
    width: 10px;
    height: 1px;
    background-color: var(--black-cl);
  }

  h2 {
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.7px;
    text-transform: uppercase;
  }

  @include maxW(767px) {
    gap: 8px;

    span {
      width: 8.5px;
    }

    h2 {
      font-size: 1.042rem;
      letter-spacing: 0.417px;
    }
  }
}
